
body{
  background-color: #E8F0FB;
  color: white;
}

h1{
  color: black;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

h3{
  color: black;
  text-align: center;
  font-family: 'Muli', sans-serif;
}


.col-marco1 {
  background-color: #005B96;
  padding: 2em;
  border-radius: 5px;

}
.col-marco2 {
  background-color: #4C8CB5;
  padding: 2em;
  border-radius: 5px;

}
.col-marco3 {
  background-color: #4C8CB5;
  padding: 2em;
  border-radius: 5px;

}
.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-3d.blue:hover   {background-color: #699DD1;}
.btn-3d.green:hover  {background-color: #80C49D;}


/* 3D button colors */

.btn-3d-blue {
    background-color: #6DA2D9;
    box-shadow: 0 0 0 1px #6698cb inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 8px 0 0 rgba(110, 164, 219, .7),
                0 8px 0 1px rgba(0,0,0,.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d-blue:active {
    box-shadow: 0 0 0 1px #6191C2 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d-green {
    background-color: #82c8a0;
    box-shadow: 0 0 0 1px #82c8a0 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 8px 0 0 rgba(126, 194, 155, .7),
                0 8px 0 1px rgba(0,0,0,.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d-green:active {
    box-shadow: 0 0 0 1px #82c8a0 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
}
