
.img-stars {
    width: 6%;
    height: auto;    
}

.ico-bigger {
    font-size: 4em;
    padding: auto;
}

.col-question {     
    font-family: 'Gamja Flower', cursive;
    font-size: 2.5em;
}

.col-numbers {
    font-family: 'Muli', sans-serif;
    font-size: 2.5em;    
}

.img-gray {   
        filter:grayscale(100%);   
}

.img-color {   
    filter:grayscale(0);   
}
