.spn-opciones{
  color:#fff;
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
  cursor:pointer;
  padding-bottom: 2px;
}
.spn-opciones:hover{
color:#0cccfc;
font-weight: bold;

}

.img-stars {
    width: 7%;
    height: auto;
    margin-left: 1.5em;
}

.col-contStars {
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
}

.gif-star {
    margin-top: -4em;
    margin-left: 5.5em;
}



.col-question {
  font-family: 'Poppins', sans-serif;
	color:#EDF2F5;
    font-size: 3em;
}

.col-numbers {
  font-family: 'Poppins', sans-serif;
	color:#EDF1DB;
    font-size: 3em;
}

.img-gray {
        filter:grayscale(100%);
}

.img-color {
    filter:grayscale(0);
}

.col-4 img:hover {
cursor:pointer;
-webkit-border-radius:5%;
-webkit-box-shadow: 0px 0px 10px 10px #ED9319;
}

.jumbotron{
	padding: 1em;
font-family: 'Poppins', sans-serif;
	background-color:#8DD7EA;

}
.col-10 {
    background-color:#4C8CB5;
    padding:auto;
}
.nodisplay{
	display: none;
}

	body{
		background-image: url("../img/indice.jpg");
		background-repeat: no-repeat;
        background-size: 100%;
    }

.message {
    color: darkorchid;
    font-size: 4em;
    padding-top: 3em;
    padding-left: 5em;
}

.modal-body {
    background-image: url(../img/fin.jpg);
    min-height: 312px;
    background-size: 500px 320px;
    background-repeat: no-repeat;
}

/*  footer del Modal al final de las preguntas*/
.modal-footer {
    justify-content: center;
}




/* Botones 3D */

.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-3d.blue:hover   {background-color: #FF811C;}
.btn-3d.green:hover  {background-color: #80C49D;}
.btn-3d.red:hover    {background-color: #e74c3c;}
.btn-3d.purple:hover {background-color: #D19ECB;}
.btn-3d-blue:hover   {background-color: #699DD1;}

/* 3D button colors */

.btn-3d.blue {
    background-color: #FFBB5B;
    box-shadow: 0 0 0 1px #FFBB5B,
                0 0 0 2px rgba(240,166,62) inset,
                0 8px 0 0 rgba(240,166,62),
                0 8px 0 1px rgba(240,166,62),
                0 8px 8px 1px rgba(240,166,62);
}
.btn-3d.blue:active {
    box-shadow: 0 0 0 1px #6DA2D9 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
}
.btn-3d-blue {
    background-color: #6DA2D9;
    box-shadow: 0 0 0 1px #6698cb inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 8px 0 0 rgba(110, 164, 219, .7),
                0 8px 0 1px rgba(0,0,0,.4),
                0 8px 8px 1px rgba(0,0,0,0.5);

}


.btn-3d-green {
    background-color: #6AD995;
    box-shadow: 0 0 0 1px #61C789 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 8px 0 0 rgba(126, 194, 155, .7),
                0 8px 0 1px rgba(0,0,0,.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d-green:active {
    box-shadow: 0 0 0 1px #61C789 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
}



.div-shadow {
    z-index: 999;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.7); */
   text-align: center;
  
   
  background: rgba(55,137,154,1);
  background: -moz-linear-gradient(top, rgba(55,137,154,1) 0%, rgba(59,169,199,0.99) 46%, rgba(44,98,109,0.97) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,137,154,1)), color-stop(46%, rgba(59,169,199,0.99)), color-stop(100%, rgba(44,98,109,0.97)));
  background: -webkit-linear-gradient(top, rgba(55,137,154,1) 0%, rgba(59,169,199,0.99) 46%, rgba(44,98,109,0.97) 100%);
  background: -o-linear-gradient(top, rgba(55,137,154,1) 0%, rgba(59,169,199,0.99) 46%, rgba(44,98,109,0.97) 100%);
  background: -ms-linear-gradient(top, rgba(55,137,154,1) 0%, rgba(59,169,199,0.99) 46%, rgba(44,98,109,0.97) 100%);
  background: linear-gradient(to bottom, rgba(55,137,154,1) 0%, rgba(59,169,199,0.99) 46%, rgba(44,98,109,0.97) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37899a', endColorstr='#2c626d', GradientType=0 );
  
  }
  
  #btnReproducir {
      color: #fff;
   margin-top: 10%;
   height: 256px;
   width: 256px;
   background-color:     #699DD1;
   box-shadow: 0 0 0 1px #7fccde inset,
         0 0 0 2px rgba(255,255,255,0.15) inset,
         0 8px 0 0 rgba(102, 164, 178, .6),
         0 8px 0 1px rgba(0,0,0,.4),
         0 8px 8px 1px rgba(0,0,0,0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    padding-top: 2%;
    
  }
  
  #btnReproducir:hover {
    background-color: #7fccde;
  }
  
  
  #btnReproducir:active {
    box-shadow: 0 0 0 1px #6191C2 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
  }
